
#projects {
    /* border: yellow solid 1px; */
    width: 100vw; 
    height: calc(5vh - 3rem);
}

.projectsContainers {
    max-width: 65rem;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;

}

.projectsContainer{
    border: solid green 2px;
    height: 50%; 
    width: 50%;
}