
#projects {
    /* border: yellow solid 1px; */
    margin: 10% auto;
    width: 100vw; 
}

.projectsHeading {
    font-size: 1.5rem;
    text-align: center;
}

.projectsIntro {
    
    font-size: 0.85rem;
    max-width: 80%;
    margin: 5% auto;
    text-align: center;
}

.projectsContainers {
    /* border: 1px solid pink; */
    padding-bottom: 3%;
    max-width: 65rem;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.projectsContainer{
    display: flex;
    align-items: center;
    overflow: scroll;
    overflow-y: visible;
    overflow-x: hidden;
    scrollbar-width: none;
    margin-top:3%;
    background: rgb(50, 50, 50);
    /* border: solid green 1px; */
    height: 15vh; 
    width: 40%;
    transition: ease 150ms;
}


.projectLogo {
    /* border: solid yellow 1px; */
    width: 22%;
    object-fit: cover;
}

.description {
    width: 100%;
    /* border: 1px solid yellow; */
    padding: 2%;
    text-align: left;
    font-size: 0.75rem;
}
.projectDetails {
    font-size: 0.75rem;
    display: none;
}
.videoWindow {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    /* border: yellow solid 1px; */
    width: 70vw; 
    height: 75vh; 
    z-index: 999; 
}

iframe{
    /* border: green solid 1px; */
    width:100%;
    height:100%;
}

.videoOpenBtn {
    display: none;
    padding: 1%;
    color: white;
    background: #3498db;
    border:none;
    border-radius: 1rem;
    cursor: pointer;
    /* border: green 1px solid */
}
.videoCloseBtn {
    padding: 1%;
    color: white;
    background: #3498db;
    border:none;
    border-radius: 1rem;
    cursor: pointer;
    /* border: green 1px solid */
}


.overlay{
    z-index: 998;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    width: 100vw;
    height: 600vh;
    background-color: grey;
    opacity: 0.5;
}


/* * */
/* Hover Effect */
/* * */
.projectsContainer:hover{
    transition: ease 500ms;
    height: 60vh;
    width:50vw;
    display:flex;
    flex-direction: column;
    cursor:pointer;
    /* border: solid green 2px; */
}
.projectsContainer:hover > .projectLogo{
    display: none;
}
.projectsContainer:hover > .description{
    /* border: 1px solid pink; */
    text-align: center;
    transition: 0.25s ease;
    font-size: 1.15rem;
}
.projectsContainer:hover > .projectDetails {
    padding: 0 5%;
    /* border: 1px purple solid; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}
.projectsContainer:hover > .videoOpenBtn{
    display: flex;
}


.projectsContainer > h1 {
    border:1px solid green;
    margin: 0.5%;
}
.projectsContainer > h2 {
    border:1px solid yellow;
    margin: 0.5%;
}

.projectsContainer > h3 {
    border:1px solid pink;
    margin: 0.5%;
}





@media screen and (max-width:740px) {

    .projectLogo{
        display: none;
    }

    .projectsContainer{
        height: 10vh;
    }

    .projectsHeading {
        font-size: 1.25rem;
    }
    
    .projectsIntro {
        font-size: 0.55rem;
    }
    
    .description {
        text-align: center;
        font-size: 0.5rem;
    }
    .videoWindow{
        width: 100%;
        height: 60%;
    }
    iframe{
        margin-top:20%;
        width:100%;
        height: 50%;
    }

    .videoOpenBtn{
        font-size: 0.65rem;
    }

    .videoCloseBtn{
        font-size: 0.65rem;
    }
    
    .projectsContainer:hover > .description{
        font-size: 0.65rem;
    }

    .projectsContainer:hover > .projectDetails{
        font-size: 0.45rem;
    }
}
