


.skillContainers {
    /* border: solid green 10px; */
    background: rgb(50, 50, 50);
    padding: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Create a grid with flexible columns */
    justify-content: center;
}

.skillContainer {
    /* border: solid 2px greenyellow; */
    margin: auto;
    padding: 2%;
    display: grid;
    place-items: center;
    height: 150px;
    width: 110px;
    object-fit: cover;
    overflow: hidden;
}


.skillContainer > img{
    max-width: 100%;
    /* border: solid green 1px; */
}

.skillHeading{
    max-width: 80vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10% auto 0;
    /* border: solid 1px green; */
}
.skillIntro {
    font-size: 1.5rem;
}

.skillText{
    font-size: 0.85rem;
    font-weight: 100;
    margin: 5%;
}




@media screen and (max-width: 740px) {

    .skillContainer > img {
        height: 75%;
    }

    .skillContainer {
        height: 90%;
        width: 75%;
    }
    .skillContainers {
        
        grid-template-columns: repeat(3, 1fr);
    }

    .skillIntro {
        font-size: 1.25rem;
    }
    .skillText{
        font-size: 0.55rem;
        font-weight: 100;
        margin: 5%;
    }
}


