* { 
    font-family: "Poppins", sans-serif;
}


#intro {
    position:relative;
    /* border: 2px solid yellow; */
    /* background-color: aqua; */
    min-height: calc(100vh - 5rem);
    overflow: hidden;
}

.introContent {
    /* border: 1px yellow solid; */
    position: absolute;
    align-items:center;
    text-align: center;
    bottom: 25%;
    font-weight: 800;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.hello {
    font-size: 0.75rem;
}

.introContent > p {
    width: 75vw;
    font-size: 0.75rem;
    max-width: 75%;
}

.introText {
    font-size: 2rem;
    max-width: 50vw;
}

.introName {
    font-size: 2rem;
    color: yellow;
}

.introTitle {
    font-size: 1.25rem;
    color: yellow;
}

.btn {
    background-color: wheat;
    margin: 1rem 0;
    padding: 0.35rem;
    border-radius: 2rem;
}

.btn:hover {
    cursor: pointer;
}

.bgVideo {
    position: absolute;
    /* border: green solid 1px; */
    width:100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 740px) {

    .introContent{
        /* border: solid 1px yellow; */
        padding: 2%;
    }

    .introText{
        font-size: 0.75rem;
    }
    .introName {
        font-size: 1.55rem;;
    }
    .hello {
        margin-top: 2%;
        font-size: 0.55rem;
    }
    .introTitle {
        font-size: 1.15rem;
    }
    .introContent > p {
        font-size: 0.55rem;
    }


}

